.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day{
border: solid 1px #383434;
color: black;
background-color: transparent;
}
.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from{
    background-color: transparent;
}
.react-calendar__tile.react-calendar__tile--now.react-calendar__year-view__months__month{
    background-color: #ff0000;
}