.btn-group {
    width: 100%;
}

.underline {
    font-family: Prompt;
    font-style: normal;
    font-weight: bold !important;
    font-size: 15px !important;
    line-height: 20px !important;
    text-align: center;
    letter-spacing: 0.5px !important;
    text-decoration: none !important;
    color: #646669 !important;
    border-bottom: 5px solid #646669 !important;

}

.active1 {
    color: #D61F26 !important;
    border-bottom: 5px solid #D61F26 !important;
}