.content {
    background-color: #F5F5F5 !important;
    min-height: 100vh; 
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom{ 
    min-height: 8vh; 
}

.logo {
    width: 90px;
    height: 15px;
}

.back-page {
    width: 10px;
    height: 15px;
}

.hash-tag {
    margin: 0px 0px 5px 25px;
}

.title {
    font-family: Prompt;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 24px !important;
    line-height: 36px !important;
    letter-spacing: 0.15px !important;
    color: #231F20;
}

.titleBorder {
    border-bottom: 2px solid #808285 !important;
    padding: 20px;
}

.input-style {
    background: #E9E9EA  !important;
    border: 2px solid #231F20 !important;
    border-radius: 10px  !important;
    height: 54px !important;
}

.text-on-input {
    color: #808285 !important;
    margin-left: 25px;
    background-color: transparent;
    opacity: .75;
}

.btn-next {
    height: 54px;
    background: #202021;
    border-radius: 100px;
    font-family: Prompt-MED;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}