.btn-pending {
  background-color: #E8E8E9;
  border:1px solid transparent;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}
.sub-title-pending {
  font-family: Prompt;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 12px !important;
  line-height: 20px !important;
  letter-spacing: 0.5px !important;
  color: #646669;
}
.btn-expired {
  font-family: Prompt;
  background-color: #D61F26;
  border:1px solid transparent;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: unset !important;
}
.btn-onservice {
  width:auto ;
  font-family: Prompt;
  background-color: #FDE054;
  border:3px solid transparent;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}
.btn-finish {
  font-family: Prompt;
  background-color:#4ECB71;
  border:1px solid transparent;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}
.btn-confirm {
  font-family: Prompt;
  background-color: #BFD9FF;
  border:1px solid transparent;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}

.opacity {
  opacity: 0.7;
}