.top_bar {
    height: 100px;
    border: 2px solid transparent !important;
    border-radius: 50px 50px 0 0 !important;
} 

.hamburger {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.MYRA_logo {
    width: 45px !important;
    height: 30px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.Vector_logo {
    width: 45px ;
    height: 40px; 
}

.col-d-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.vehicleValue {
    margin-left: 10px;
    font-family: Prompt;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #000000;
}

.m-top {
    margin-top: 30px !important;
}

.station {
    font-family: Prompt;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #000000;
}

.dot {
    margin-left: 5px;
    height: 10px;
    width: 10px;
    background-color: #4ECB71;
    border-radius: 50%;
    display: inline-block;
}
.dot_red {
    margin-left: 5px;
    height: 10px;
    width: 10px;
    background-color: #ff2424;
    border-radius: 50%;
    display: inline-block;
}

.allBorder {
    border: 2px solid transparent;
    border-radius: 30px 0 0 30px;
    background-color: #F5F5F5 !important;
    height: 90vh !important;
}

.sideBar {
    position: fixed;
    left: 25px;
    top: 150px;
}

.block-span {
    background-color: linear-gradient(90deg, #D61F26 0%, #FD2227 100%) !important;
    color: white;
}

.list-color {
    text-decoration: none;
    background: #D61F26;
}

.list-color:hover {
    color: #FFFFFF;
}

.text-title-sideBar {
    font-family: Prompt-MED !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 24px !important;
    line-height: 36px !important;
    letter-spacing: 0.15px !important;
    color: #FFFFFF;
}

.text-subtitle-sideBar {
    font-family: Prompt !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 15px !important;
    line-height: 20px !important;
    letter-spacing: 0.5px !important;
    color: #FFFFFF;
}

.sidebar-icon {
    background: transparent;
}

.station-pic {
    width: 50px;
    border-radius: 8px;
}

.side-height {
    height: 50px;
    display: flex;
    align-items: center;
}

.card-body {
    text-decoration: none;
    background: #D61F26;
}
.transparent {
    background: transparent;
}

/* calendar */
.react-calendar {
    justify-content: center;
    /* width: 350px; */
    max-width: 100%;
    background: white;
    /* border: 1px solid #a0a096; */
    font-family: Prompt;
    line-height: 1.125em;
  }
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
    flex: 0 0 14.2857%;
    border-radius: 100px;
    overflow: hidden;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
  }
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
  }
  .react-calendar__month-view__days__day--weekend {
    color: #d10000;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
  }
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__tile--now {
    background: #ffff76;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
  }
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  .react-calendar__tile--active {
    background: #d10000;
    color: white;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #1087ff;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  /* calendar */

  .buttonCalendar{
    flex: 0 0 14.2857%;
    border-radius: 100px;
    overflow: hidden;
  }
  abbr {
      background: transparent;
  }