.btn-info {
    width: 118px;
    height: 32px;
    font-family: Prompt;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 20px !important;
    letter-spacing: 0.5px !important;
    color: #FFFFFF !important;
    border: none !important;
    border-radius: 100px !important;
}

.btn-ready {
    background: linear-gradient(90deg, #63D0CF 0%, #91D285 100%);
    box-shadow: 0px 4px 12px -4px rgba(35, 31, 32, 0.16);
}

.btn-charge {
    background: linear-gradient(90deg, #E9C300 0%, #FBD260 100%);
    box-shadow: 0px 4px 12px -4px rgba(35, 31, 32, 0.16);
}

.btn-notCharge {
    background: linear-gradient(90deg, #D61F26 0%, #FD2227 100%);
    box-shadow: 0px 4px 12px -4px rgba(35, 31, 32, 0.16);
}