.e-dropdown-btn .e-btn-icon,
.e-dropdown-btn.e-btn .e-btn-icon {
  font-size: 22px !important;
  background: transparent;
}

.e-dropdown-popup .e-lib .e-popup .e-control .e-caret-hide .e-popup-open{
  left: none;
  right: 2%;
}

.image-upload > input {
  display: none;
}
.vertical-menu {
  width: 200px;
  /* margin-right: 30px; */
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: transparent;
  color: white;
}

.dropdown {
  z-index: 999999;
  position: absolute !important;
  right: 0;
}

.dropdown-item {
  display: flex !important;
  justify-content: space-between !important;
  background-color: #FFFFFF !important;
  font-family: Prompt;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 13px !important;
  text-align: center !important;
  letter-spacing: 0.4px !important;
  color: #202021;
}

.dropdown-item:focus {
  color: #202021 !important;
  /* background-color: #c9c6c6 !important; */
}

.dropdown-menu {
  top: -25px !important;
  right: 22px !important;
}

.icon-dropDown {
  background-color: transparent !important;
}

.forLabel {
  padding: 0 !important;
}

.forLabel:hover {
  color: #202021 !important;
  /* background-color: #c9c6c6 !important; */
}

.btn-confirm {
  background-color: #BFD9FF;
  border:1px solid transparent;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}