/* * {
    background-color: #F5F5F5;
} */

.content {
    background-color: #F5F5F5;
    min-height: 100vh; 
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom{ 
    min-height: 8vh; 
}

.logo {
    width: 90px;
    height: 15px;
}

.MYRA_logo {
    width: 4%;
    height: 30px;
}

.center-des1{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #231F20;
    opacity: 0.7;
}

.center-des2{
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #231F20;
    opacity: 0.7;
}

.border_attach {
    display: flex;
    align-items: center;
    height: 220px;
    justify-content: center;
    border: 2px dotted #231F20 !important;
    border-radius: 20px;
    opacity: 0.7;
    cursor: pointer;
}

.select-menu-font1 {
    font-family: Prompt;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #202021;
    opacity: 2 !important;
    margin: 0;
} 

.select-menu-font2 {
    font-family: Futura Lt BT;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #202021;
    opacity: 1 !important;
    margin: 0;
} 


.select-menu1 {
    padding: 0 20px 0 410px !important;
}

.select-menu2 {
    padding: 0px 410px 0 20px !important
}

@media screen and (max-width: 1400px) {
    .select-menu1 {
        padding: 0 20px 0 320px !important;
    }
    
    .select-menu2 {
        padding: 0 320px 0 20px !important;
    }
}

@media screen and (max-width: 1200px) {
    .select-menu1 {
        padding: 0 20px 0 230px !important;
    }
    
    .select-menu2 {
        padding: 0px 230px 0 20px !important
    }
}

@media screen and (max-width: 992px) {
    .select-menu1 {
        padding: 0 20px 0 113px !important;
    }
    
    .select-menu2 {
        padding: 0px 113px 0 20px !important
    }
}

@media screen and (max-width: 768px) {
    .select-menu1 {
        padding: 0 20px 0 28px !important;
    }
    
    .select-menu2 {
        padding: 0px 28px 0 20px !important
    }
}

@media screen and (max-width: 576px) {
    .select-menu1 {
        padding: 0 20px 0 40px !important;
    }
    
    .select-menu2 {
        padding: 0px 40px 0 20px !important
    }
}