
.loadingPic {
    /* height: 50vh; */
    width: 300px;
    border-radius: 50%;


}


.errorPic {
    /* height: 50vh; */
    width: 90px;
}

.content-right {
    display: flex;
    align-items: center;
    min-height: 255px;
}

.main-title {
    margin-bottom: .5rem;
    font-family: Prompt;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 18px !important;
    line-height: 24px !important;
    letter-spacing: 0.5px !important;
    color: #231F20;
}

.sub-title {
    font-family: Prompt;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 15px !important;
    line-height: 20px !important;
    letter-spacing: 0.5px !important;
    color: #646669;
}
.sub-title-long {
    font-family: Prompt;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 20px !important;
    letter-spacing: 0.1px !important;
    color: #646669;
}

.detail {
    font-family: Prompt-MED;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 20px !important;
    letter-spacing: 0.5px !important;
    color: #646669;
}

.detail-queue {
    font-family: Prompt;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 15px !important;
    line-height: 20px !important;
    text-align: center !important;
    letter-spacing: 0.1px !important;
    text-decoration-line: underline;
    color: #D61F26;
}

.btn-main {
    height: 40px;
    background: #202021;
    border: transparent;
    border-radius: 100px;
    font-family: Prompt-MED;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.btn-main-pending {
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 100px;
    font-family: Prompt-MED;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #202021;
}

.title-err {
    font-family: Prompt;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 24px !important;
    line-height: 36px !important;
    letter-spacing: 0.15px !important;
    color: #202021;
}

.hidden {
    display: none;
}