@font-face {
  font-family: Futura;
  src: local("Futura"), url(../public/font/Futura\ Std\ Light.ttf) format("truetype");
}

@font-face {
  font-family: Prompt;
  src: local("PROMPT"), url(../public/font/PROMPT-REGULAR.TTF) format("truetype");
}

@font-face {
  font-family: Prompt-MED;
  src: local("PROMPT-MED"), url(../public/font//PROMPT-MEDIUM.TTF) format("truetype");
}

@font-face {
  font-family: Futura Lt BT;
  src: local("Futura Lt BT"), url(../public/font/futura\ light\ bt.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Futura', 'PROMPT', 'PROMPT-MED' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table thead {
  border-bottom: 1px solid #CACACB;
}

table th {
  font-family: Prompt;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 18px !important;
  line-height: 24px !important;
  letter-spacing: 0.5px !important;
  color: #202021 !important;
  padding: 35px !important;
}

table td {
  font-family: Prompt;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 15px !important;
  line-height: 20px !important;
  letter-spacing: 0.5px !important;
  color: #202021 !important;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding: 30px !important;
}
.MuiAlert-icon {
  background: transparent !important;
}

.MuiAlert-message {
  background: transparent !important;
}

.MuiTypography-root {
  background: transparent !important;
}

.MuiSvgIcon-root {
  background: transparent !important;
}

.add-button{
  background-color: white ;
  color: black ;
  border: 5px solid red ;
  position: absolute ;
  top: 20% ;
  left: 50% ;
  transform: translate(-50%, -50%) ;
  z-index: 100 ;
  border-radius: 30px ;
  font:italic 20px/1 'Prompt-MED' !important ;
}
