::-webkit-scrollbar {
    width: 0px;
}

.btn-time {
    width: 150px !important;
    border-radius: 20px !important;
    background-color: #FFFFFF !important;
    margin-right: 10px;
}

.btn-use {
    background-color: #202021 !important;
}

.text-btn-time {
    font-family: Prompt;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 15px !important;
    line-height: 20px !important;
    letter-spacing: 0.5px !important;
    color: #202021;
    background-color: #FFFFFF !important;
    
    
}

.text-vehicle-amount {
    font-family: Prompt;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 13px !important;
    line-height: 18px !important;
    letter-spacing: 0.4px !important;
    color: #202021;
    background-color: #FFFFFF !important;
}

.text-btn-time2 {
    font-family: Prompt;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 15px !important;
    line-height: 20px !important;
    letter-spacing: 0.5px !important;
    color: #FFFFFF;
    background-color: #202021 !important;
}

.text-vehicle-amount2 {
    font-family: Prompt;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 13px !important;
    line-height: 18px !important;
    letter-spacing: 0.4px !important;
    color: #FFFFFF;
    background-color: #202021 !important;
}

